<html>

<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
    <!-- Load the Vue.js as a JavaScrip library -->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="app">
        <div v-if="showProduct">
            <div>
                <h1>{{this.sitename}}</h1>
                <button @click="showCheckout()" v-show="!cartEmpty">
                    <span class="fas fa-shopping-basket"> shopping cart</span>
                    <b>{{cartItemCount}}</b>
                </button>
                <strong>Search Bar</strong>
                <input type="text" v-model.trim=search>
                <p>You searched for '{{search}}'</p>
            </div>
            <h3>Sort by</h3>
            <input type="radio" value="Subject" name="attributes" v-model=sort.attribute>
            <label>Subject</label><br>
            <input type="radio" value="Location" name="attributes" v-model=sort.attribute>
            <label>Location</label><br>
            <input type="radio" value="Price" name="attributes" v-model=sort.attribute>
            <label>Price</label><br>
            <input type="radio" value="Availability" name="attributes" v-model=sort.attribute>
            <label>Availability</label><br>
            <input type="radio" value="Rating" name="attributes" v-model=sort.attribute>
            <label>Rating</label><br><br>

            <input type="radio" value="ascending" name="order" v-model=sort.sortingOrder>
            <label>Ascending</label><br>
            <input type="radio" value="descending" name="order" v-model=sort.sortingOrder>
            <label>Descending</label>
            <ul>
                <div v-for="lesson in postSearchValue" v-if="lesson.Visible" class="lessonlist">
                    <div>
                        <img v-bind:src="lesson.Image" alt="" width="100px" height="100px">
                        <br>
                        Lesson ID: {{lesson.lessonID}} <br>
                        Subject: {{ lesson.Subject }} <br>
                        Location: {{ lesson.Location }} <br>
                        Price: £{{ lesson.Price }} <br>
                        Available Spaces: {{ lesson.Spaces }} <br>
                        <span v-for="n in lesson.Rating" class="fas fa-star"></span>
                        <span v-for="n in 5-lesson.Rating" class="far fa-star"></span> <br><br>
                        <button @click="addToCart(lesson)" :disabled="!canAddToCart(lesson)">Add to cart</button>
                    </div>
                </div>
            </ul>
        </div>
        <div v-else>
            <h1>Shopping Cart</h1>
            <button @click="showCheckout()">
                <span class="fas fa-book"> lessons</span>
            </button>
            <h2>Your cart</h2>
            <ul>
                <div v-for="(lesson, lessons) in cart" class="lessonlist">
                    <img v-bind:src="lesson.Image" alt="" width="100px" height="100px">
                    </span><br>
                    Lesson ID: {{lesson.lessonID}} <br>
                    Subject: {{ lesson.Subject }} <br>
                    Location: {{ lesson.Location }} <br>
                    Price: £{{ lesson.Price }} <br>
                    <span v-for="n in lesson.Rating" class="fas fa-star"></span>
                    <span v-for="n in 5-lesson.Rating" class="far fa-star"></span> <br><br>
                    <button @click="removeFromCart(lesson)">Remove from cart</button>
                    <br>
                </div>
            </ul>


            <h2>Details</h2>
            <p>
                <strong>First Name: </strong>
                <input type="text" v-model.trim=order.firstName>
            </p>
            <p>
                <strong>Last Name: </strong>
                <input type="text" v-model.trim=order.lastName>
            </p>
            <p>
                <strong>Phone Number: </strong>
                <input type="text" v-model.trim=order.phoneNumber>
            </p>
            <p>
                <strong>Lesson ID: </strong>
                <input type="text" v-model.trim=order.lessonID>
            </p>
            <p>
                <strong>Number of Spaces: </strong>
                <input type="number" v-model.trim=order.spaces>
            </p>
            <input type="checkbox" value="gift" v-model=order.gift>
            <label>Ship as Gift?</label>
            <br>
            <br>
            <h3>Order Information</h3>
            <p>First Name: {{order.firstName}}</p>
            <p>Last Name: {{order.lastName}}</p>
            <p>Phone Number: {{order.phoneNumber}}</p>
            <p>Lesson ID: {{order.lessonID}}</p>
            <p>Spaces: {{order.spaces}}</p>
            <p>Gift: {{order.gift}}</p>
            <button @Click="submitForm" :disabled="!correctOrderDetails">Checkout</button>
        </div>
    </div>


</body>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            sitename: "Lessons Store",
            search: "",
            showProduct: "false",
            lessons: [],
            cart: [],
            order: {
                firstName: "",
                lastName: "",
                phoneNumber: "",
                lessonID: "",
                spaces: 0,
                gift: false,
            },
            sort: {
                attribute: "",
                sortingOrder: "",
            }
        },
        methods: {
            displayData() {
                fetch('https://cst-3145-cw2.herokuapp.com/collection/lessons').then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                app.lessons = json
                            }
                        )
                    }
                )
            },
            addToCart(lesson) {
                console.log("added to cart");
                this.cart.push(lesson);
            },
            removeFromCart(lesson) {
                let index = this.cart.indexOf(lesson);
                this.cart.splice(index, 1);
            },
            showCheckout() {
                this.displayData()
                return this.showProduct = this.showProduct ? false : true;
            },
            submitForm() {
                //post order first/last name, phone number, spaces, lessonID, gift
                let order = {
                    'First Name': this.order.firstName,
                    'Last Name': this.order.lastName,
                    'Phone Number': this.order.phoneNumber,
                    'lessonID': this.order.lessonID,
                    'Spaces': this.order.spaces,
                    'Gift': this.order.gift
                }
                fetch("https://cst-3145-cw2.herokuapp.com/collection/orders", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(order),
                }).then(function (response) {
                    response.json().then(
                        console.log("Order Successfully posted to database")
                    )
                })

                //put to update lesson spaces
                let oldSpaces = 0
                for (index = 0; index < 10; index++) {
                    console.log(this.lessons[index].lessonID)
                    console.log(this.order.lessonID)
                    if (this.lessons[index].lessonID.localeCompare(this.order.lessonID) == 0) {
                        oldSpaces = this.lessons[index].Spaces
                        break
                    }
                }
                let updatedSpaces = { "Spaces": oldSpaces - this.order.spaces }

                fetch("https://cst-3145-cw2.herokuapp.com/collection/lessons/" + this.order.lessonID, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(updatedSpaces),
                }).then(function (response) {
                    response.json().then(
                        console.log("Spaces Successfully updated in Database")
                    )
                })

                alert("order submitted");
            },
            canAddToCart(lesson) {
                return lesson.Spaces > 0;
            },

        },
        computed: {
            cartItemCount() {
                return this.cart.length || '0';
            },
            cartEmpty() {
                return this.cart.length == 0;
            },
            correctOrderDetails() {
                let letters = /^[a-z]+$/i;
                let numbers = /^[0-9]+$/i;
                if (letters.test(this.order.firstName) &&
                    letters.test(this.order.lastName) && numbers.test(this.order.phoneNumber)) {
                    this.order.correct = true;
                }
                else {
                    this.order.correct = false;
                }
                return this.order.correct;
            },
            postSearchValue() {
                switch (this.sort.attribute) {
                    case "Subject":
                        if (this.sort.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.Subject < b.Subject)
                                    return -1;
                                if (a.Subject > b.Subject)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sort.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.Subject > b.Subject)
                                    return -1;
                                if (a.Subject < b.Subject)
                                    return 1;
                                return 0;
                            }
                        }
                        break;
                    case "Price":
                        if (this.sort.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.Price < b.Price)
                                    return -1;
                                if (a.Price > b.Price)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sort.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.Price > b.Price)
                                    return -1;
                                if (a.Price < b.Price)
                                    return 1;
                                return 0;
                            }
                        }
                        break;
                    case "Availability":
                        if (this.sort.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.Spaces < b.Spaces)
                                    return -1;
                                if (a.Spaces > b.Spaces)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sort.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.Spaces > b.Spaces)
                                    return -1;
                                if (a.Spaces < b.Spaces)
                                    return 1;
                                return 0;
                            }
                        }
                        break;
                    case "Location":
                        if (this.sort.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.Location < b.Location)
                                    return -1;
                                if (a.Location > b.Location)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sort.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.Location > b.Location)
                                    return -1;
                                if (a.Location < b.Location)
                                    return 1;
                                return 0;
                            }
                        }
                        break;
                    case "Rating":
                        if (this.sort.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.Rating < b.Rating)
                                    return -1;
                                if (a.Rating > b.Rating)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sort.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.Rating > b.Rating)
                                    return -1;
                                if (a.Rating < b.Rating)
                                    return 1;
                                return 0;
                            }
                        }
                        break;
                }
                if (this.search==="") {
                    this.displayData()
                }
                else {
                    fetch('https://cst-3145-cw2.herokuapp.com/search/' + this.search + '/lessons').then(
                        function (response) {
                            response.json().then(
                                function (json) {
                                    app.lessons = json
                                }
                            )
                        }
                    )
                }
                return this.lessons.sort(compare)
            },
        }

    })

</script>

</html>