<html>

<head>
    <meta charset="UTF-8">
    <title>ToDo (Vue.js version)</title>
    <!-- Load the Vue.js as a JavaScrip library -->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="lessons.js"></script>
</head>

<body>
    <div id="example-2">
        <div v-if="showProduct">
            <h1>Lessons</h1>
            <button @click="showCheckout()" :disabled="cartEmpty">
                <span class="fas fa-shopping-basket"> checkout</span>
                {{cartItemCount}}
            </button>
            <ul>
                <p v-for="(lesson, lessons) in lessons">
                    <span class="fas fa-calculator fa-2x">
                        <img v-bind:src="lesson.Image" alt="" width="60px" height="55px">
                    </span><br>
                    Subject: {{ lesson.Subject }} <br>
                    Location: {{ lesson.Location }} <br>
                    Price: {{ lesson.Price }} <br>
                    Spaces: {{ lesson.Spaces }} <br>
                    <button @click="addToCart(lesson)" :disabled="!canAddToCart(lesson)">Add to cart</button>
                    <br>
                </p>
            </ul>

        </div>
        <div v-else>
            <h1>Checkout</h1>
            <button @click="showCheckout()">
                <span class="fab fa-product-hunt"> products</span>
            </button>
            <h2>Your cart</h2>
            <ul>
                <p v-for="(lesson, lessons) in cart">
                    <span class="fas fa-calculator fa-2x">
                        <img v-bind:src="lesson.Image" alt="" width="60px" height="55px">
                    </span><br>
                    Subject: {{ lesson.Subject }} <br>
                    Location: {{ lesson.Location }} <br>
                    Price: {{ lesson.Price }} <br>
                    <!-- Spaces: {{ lesson.Spaces }} <br> can modify code to add count -->
                    <button @click="removeFromCart(lesson)">Remove from cart</button>
                    <br>
                </p>
            </ul>


            <h2>Details</h2>
            <p>
                <strong>First Name: </strong>
                <input type="text" v-model.trim=order.firstName>
            </p>
            <p>
                <strong>Last Name: </strong>
                <input type="text" v-model.trim=order.lastName>
            </p>
            <p>
                <strong>Phone Number: </strong>
                <input type="text" v-model.trim=order.phoneNumber>
            </p>
            <input type="checkbox" value="gift" v-model=order.gift>
            <label>Ship as Gift?</label>
            <br>
            <br>
            <h3>Order Information</h3>
            <p>First Name: {{order.firstName}}</p>
            <p>Last Name: {{order.lastName}}</p>
            <p>Phone Number: {{order.phoneNumber}}</p>
            <p>Gift: {{order.gift}}</p>
            <button @Click="submitForm">Place Order</button>
        </div>
    </div>


</body>
<script>
    let example2 = new Vue({
        el: '#example-2',
        data: {
            sitename: "Lessons",
            showProduct: "true",
            lessons: lessonsArray,
            cart: [],
            availableStock: 5,
            order: {
                firstName: "",
                lastName: "",
                phoneNumber: "",
                gift: false,
            }
        },
        methods: {
            addToCart(lesson) {
                console.log("added to cart");
                this.cart.push(lesson);
                lesson.Spaces--;
            },
            removeFromCart(lesson) {
                this.cart.splice(lesson,1);
                lesson.Spaces++;
            },
            showCheckout() {
                return this.showProduct = this.showProduct ? false : true;
            },
            submitForm() {
                let letters = /^[a-z]+$/i;
                let numbers = /^[0-9]+$/i;
                if(letters.test(this.order.firstName)&&
                letters.test(this.order.lastName)&&numbers.test(this.order.phoneNumber)){
                    alert("order submitted");
                }
                else{
                    alert("incorrect name/phone number format");
                }
               
            },
            canAddToCart(lesson) {
                return lesson.Spaces > 0;
            }

        },
        computed: {
            cartItemCount() {
                return this.cart.length || '0';
            },
            cartEmpty() {
                return this.cart.length == 0;
            }

        }

    })

</script>

</html>