<html>

<head>
    <meta charset="UTF-8">
    <title>ToDo (Vue.js version)</title>
    <!-- Load the Vue.js as a JavaScrip library -->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="lessons.js"></script>
</head>
<style>
    .lessonlist {
        display: inline-block;
        margin-left: 100px;
        margin-top: 50px;
    }
</style>

<body>
    <div id="example-2">
        <div v-if="showProduct">
            <div>
                <h1>Lessons</h1>
                <button @click="showCheckout()" :disabled="cartEmpty">
                    <span class="fas fa-shopping-basket"> checkout</span>
                    {{cartItemCount}}
                </button>
            </div>
            <h3>Sort by</h3>
            <input type="radio" value="Subject" name="attributes" v-model=sort.attribute>
            <label>Subject</label><br>
            <input type="radio" value="Location" name="attributes" v-model=sort.attribute>
            <label>Location</label><br>
            <input type="radio" value="Price" name="attributes" v-model=sort.attribute>
            <label>Price</label><br>
            <input type="radio" value="Spaces" name="attributes" v-model=sort.attribute>
            <label>Spaces</label><br>
            <input type="radio" value="Rating" name="attributes" v-model=sort.attribute>
            <label>Rating</label><br>
            <input type="radio" value="Availablity" name="attributes" v-model=sort.attribute>
            <label>Availablity</label><br><br>

            <input type="radio" value="ascending" name="order" v-model=sort.sortingOrder>
            <label>Ascending</label><br>
            <input type="radio" value="descending" name="order" v-model=sort.sortingOrder>
            <label>Descending</label>

            <ul>
                <div v-for="lesson in sortedLessons" class="lessonlist">
                    <img v-bind:src="lesson.Image" alt="" width="60px" height="55px">
                    <br>
                    Subject: {{ lesson.Subject }} <br>
                    Location: {{ lesson.Location }} <br>
                    Price: £{{ lesson.Price }} <br>
                    Spaces: {{ lesson.Spaces }} <br>
                    <span v-for="n in lesson.Rating" class="fas fa-star"></span>
                    <span v-for="n in 5-lesson.Rating" class="far fa-star"></span> <br>
                    <button @click="addToCart(lesson)" :disabled="!canAddToCart(lesson)">Add to cart</button>                  
                </div>
            </ul>
        </div>
        <div v-else>
            <h1>Checkout</h1>
            <button @click="showCheckout()">
                <span class="fab fa-product-hunt"> products</span>
            </button>
            <h2>Your cart</h2>
            <ul>
                <div v-for="(lesson, lessons) in cart" class="lessonlist">
                    <span class="fas fa-calculator fa-2x">
                        <img v-bind:src="lesson.Image" alt="" width="60px" height="55px">
                    </span><br>
                    Subject: {{ lesson.Subject }} <br>
                    Location: {{ lesson.Location }} <br>
                    Price: £{{ lesson.Price }} <br>
                    <!-- Spaces: {{ lesson.Spaces }} <br> can modify code to add count -->
                    <button @click="removeFromCart(lesson)">Remove from cart</button>
                    <br>
                </div>
            </ul>


            <h2>Details</h2>
            <p>
                <strong>First Name: </strong>
                <input type="text" v-model.trim=order.firstName>
            </p>
            <p>
                <strong>Last Name: </strong>
                <input type="text" v-model.trim=order.lastName>
            </p>
            <p>
                <strong>Phone Number: </strong>
                <input type="text" v-model.trim=order.phoneNumber>
            </p>
            <input type="checkbox" value="gift" v-model=order.gift>
            <label>Ship as Gift?</label>
            <br>
            <br>
            <h3>Order Information</h3>
            <p>First Name: {{order.firstName}}</p>
            <p>Last Name: {{order.lastName}}</p>
            <p>Phone Number: {{order.phoneNumber}}</p>
            <p>Gift: {{order.gift}}</p>
            <button @Click="submitForm">Place Order</button>
        </div>
    </div>


</body>
<script>
    let example2 = new Vue({
        el: '#example-2',
        data: {
            sitename: "Lessons",
            showProduct: "false",
            lessons: lessonsArray,
            cart: [],
            availableStock: 5,
            order: {
                firstName: "",
                lastName: "",
                phoneNumber: "",
                gift: false,
            },
            sort: {
                attribute: "",
                sortingOrder: "",
            }
        },
        methods: {
            addToCart(lesson) {
                console.log("added to cart");
                this.cart.push(lesson);
                lesson.Spaces--;
            },
            removeFromCart(lesson) {
                let index = this.cart.indexOf(lesson);
                this.cart.splice(index, 1);
                lesson.Spaces++;
            },
            showCheckout() {
                return this.showProduct = this.showProduct ? false : true;
            },
            submitForm() {
                let letters = /^[a-z]+$/i;
                let numbers = /^[0-9]+$/i;
                if (letters.test(this.order.firstName) &&
                    letters.test(this.order.lastName) && numbers.test(this.order.phoneNumber)) {
                    alert("order submitted");
                }
                else {
                    alert("incorrect name/phone number format");
                }

            },
            canAddToCart(lesson) {
                return lesson.Spaces > 0;
            }

        },
        computed: {
            cartItemCount() {
                return this.cart.length || '0';
            },
            cartEmpty() {
                return this.cart.length == 0;
            },
            sortedLessons() {
                switch (this.sort.attribute) {
                    case "Subject":
                        if (this.sort.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.Subject < b.Subject)
                                    return -1;
                                if (a.Subject > b.Subject)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sort.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.Subject > b.Subject)
                                    return -1;
                                if (a.Subject < b.Subject)
                                    return 1;
                                return 0;
                            }
                        }
                        break;
                    case "Price":
                        if (this.sort.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.Price < b.Price)
                                    return -1;
                                if (a.Price > b.Price)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sort.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.Price > b.Price)
                                    return -1;
                                if (a.Price < b.Price)
                                    return 1;
                                return 0;
                            }
                        }
                        break;
                    case "Spaces":
                        if (this.sort.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.Spaces < b.Spaces)
                                    return -1;
                                if (a.Spaces > b.Spaces)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sort.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.Spaces > b.Spaces)
                                    return -1;
                                if (a.Spaces < b.Spaces)
                                    return 1;
                                return 0;
                            }
                        }
                        break;
                    case "Location":
                        if (this.sort.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.Location < b.Location)
                                    return -1;
                                if (a.Location > b.Location)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sort.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.Location > b.Location)
                                    return -1;
                                if (a.Location < b.Location)
                                    return 1;
                                return 0;
                            }
                        }
                        break;
                        case "Rating":
                        if (this.sort.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.Rating < b.Rating)
                                    return -1;
                                if (a.Rating > b.Rating)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sort.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.Rating > b.Rating)
                                    return -1;
                                if (a.Rating < b.Rating)
                                    return 1;
                                return 0;
                            }
                        }
                        break;
                    default:
                    // code block
                }

                return this.lessons.sort(compare);
            }

        }

    })

</script>

</html>